<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/" >
  <sitecore>
    <events>
      <event name="indexing:start">
        <handler type="Sitecore.Modules.PushMenu.PushMenuHandler, Sitecore.Modules.PushMenu" method="RefreshPushMenuJson"/>
      </event>
      <event name="indexing:start:remote">
        <handler type="Sitecore.Modules.PushMenu.PushMenuHandler, Sitecore.Modules.PushMenu" method="RefreshPushMenuJson"/>
      </event>
    </events>

    <pipelines>
      <pushmenu.getmenumodel>
        <processor type="Sitecore.Modules.PushMenu.Pipelines.GetMenuModel.MatchTemplate, Sitecore.Modules.PushMenu" />
        <processor type="Sitecore.Modules.PushMenu.Pipelines.GetMenuModel.MapToModel, Sitecore.Modules.PushMenu" />
      </pushmenu.getmenumodel>
      <pushmenu.getmenuhtml>
        <processor type="Sitecore.Modules.PushMenu.Pipelines.GetMenuHtml.TraverseTree, Sitecore.Modules.PushMenu" />
        <processor type="Sitecore.Modules.PushMenu.Pipelines.GetMenuHtml.WrapInContainer, Sitecore.Modules.PushMenu" />
      </pushmenu.getmenuhtml>
    </pipelines>

    <pushmenu>
      <storageManagerSettings type="Sitecore.Modules.PushMenu.Managers.InMemoryStorageManager, Sitecore.Modules.PushMenu"></storageManagerSettings>
    </pushmenu>

  </sitecore>
</configuration>